body{
    white-space: 940px;
    text-align: center;
}
div{
    border:2px solid #000;
    width: 300px;
    color: aliceblue;
    text-align: center;
    background-color: rgb(185, 129, 238);
}
h3,h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 948px;
    margin: auto;
    background-color: darkgray;
    text-align: center;
    letter-spacing: 0.15em;

}
li{
    color: chocolate;
    border: 2px solid #000;

}
.id-00{
    background-color: rgb(0, 0, 0);
    border: 2px solid;
    color: aliceblue;
    box-shadow: 10px 10px 10px #0000;
}
.id-07{
background-color: darkmagenta;
color: aliceblue;
}
